.hidden {
    display: none;
}

*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: rgba(197, 235, 108, 0.404);
    color: black;
    font-family: 'Handlee', Arial, sans-serif;
}

.icons {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.icons h2 {
    font-family:'Handlee', Arial, sans-serif;
    font-size: 2em;
    color: rgb(119, 104, 134);
    margin: 20px 0;
}

.icons div {
    width: 20%;
    display: inline-block;
    
}

.icons div img {
    width: 40%;
    cursor: pointer;
}

#newanchor {
    cursor: pointer;
}

#newanchor:hover #border-2 {fill: rgb(54, 80, 6);}
#newanchor:hover #bluebackground {fill: rgb(4, 12, 78);}
#newanchor:hover #fill-2 {fill: rgb(165, 236, 34);}
