.hidden {
    display: none;
}

*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: rgba(197, 235, 108, 0.404);
    color: black;
    font-family: 'Handlee', Arial, sans-serif;
}

.icons {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.icons h2 {
    font-family:'Handlee', Arial, sans-serif;
    font-size: 2em;
    color: rgb(119, 104, 134);
    margin: 20px 0;
}

.icons div {
    width: 20%;
    display: inline-block;
    
}

.icons div img {
    width: 40%;
    cursor: pointer;
}

#anchor {
    cursor: pointer;
}

#anchor:hover #background {fill: rgb(152, 170, 120);}
#anchor:hover #bluefill {fill: rgb(243, 233, 91);}
#anchor:hover #externalborder {fill: rgb(134, 168, 71); transform: rotate(3deg); }
#anchor:hover #anchortext { fill: rgb(180, 106, 174); transform: rotate(350deg);}
#anchor:hover  #anchorstar { fill: rgb(247, 194, 124);}
#anchortext { transition: all 0.5s ease; transform-origin: 50%;}
