.hidden {
    display: none;
}

*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: rgba(197, 235, 108, 0.404);
    color: black;
    font-family: 'Handlee', Arial, sans-serif;
}

.icons {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.icons h2 {
    font-family:'Handlee', Arial, sans-serif;
    font-size: 2em;
    color: rgb(119, 104, 134);
    margin: 20px 0;
}

.icons div {
    width: 20%;
    display: inline-block;
    
}

.icons div img {
    width: 40%;
    cursor: pointer;
}

#anchor {cursor: pointer;}
#bag {cursor: pointer;}
#map {cursor: pointer;}
#plane { cursor: pointer;}
#lsaver {cursor: pointer;}
#tent {cursor: pointer;}
#sandals {cursor: pointer;}
#island {cursor: pointer;}
#mountain {cursor: pointer;}
#ship {cursor: pointer;}

#anchor:hover #background {fill: rgb(152, 170, 120);}
#anchor:hover #bluefill {fill: rgb(243, 233, 91);}
#anchor:hover #externalborder {fill: rgb(134, 168, 71); transform: rotate(3deg); }
#anchor:hover #anchortext { fill: rgb(180, 106, 174); transform: rotate(350deg);}
#anchor:hover  #anchorstar { fill: rgb(247, 194, 124);}
#anchortext { transition: all 0.5s ease; transform-origin: 50%;}

#bag:hover #bagbackground {fill: rgb(170, 120, 163);}
#bag:hover #bagfill {fill: rgb(91, 220, 243);}
#bag:hover #bagborder {fill: rgb(50, 66, 21); transform: rotate(3deg); }
#bag:hover #bagtext { fill: rgb(180, 175, 106); transform: rotate(350deg);}
#bag:hover  #bagstar { fill: rgb(160, 223, 15);}
#bagtext { transition: all 0.5s ease; transform-origin: 50%;}

#map:hover #mapbackground {fill: rgb(55, 206, 226);}
#map:hover #mapfill {fill: rgb(91, 243, 98);}
#map:hover #mapborder {fill: rgb(42, 21, 66); transform: rotate(3deg); }
#map:hover #maptext { fill: rgb(106, 180, 134); transform: rotate(350deg);}
#map:hover  #mapstar { fill: rgb(223, 15, 171);}
#maptext { transition: all 0.5s ease; transform-origin: 50%;}

#plane:hover #planebackground {fill: rgb(234, 243, 113);}
#plane:hover #planefill {fill: rgb(231, 177, 210);}
#plane:hover #planeborder {fill: rgb(189, 20, 161); transform: rotate(3deg); }
#plane:hover #planetext { fill: rgb(126, 12, 192); transform: rotate(350deg);}
#plane:hover  #planestar { fill: rgb(10, 139, 53);}
#planetext { transition: all 0.5s ease; transform-origin: 50%;}

#lsaver:hover #lsaverbackground {fill: rgb(107, 80, 82);}
#lsaver:hover #lsaverfill {fill: rgb(139, 158, 173);}
#lsaver:hover #lsaverborder {fill: rgb(236, 226, 235); transform: rotate(3deg); }
#lsaver:hover #lsavertext { fill: rgb(145, 93, 16); transform: rotate(350deg);}
#lsaver:hover  #lsaverstar { fill: rgb(211, 93, 235);}
#lsavertext { transition: all 0.5s ease; transform-origin: 50%;}

#tent:hover #tentbackground {fill: rgb(199, 29, 40);}
#tent:hover #tentfill {fill: rgb(196, 236, 86);}
#tent:hover #tentborder {fill: rgb(92, 20, 85); transform: rotate(3deg); }
#tent:hover #tenttext { fill: rgb(145, 93, 16); transform: rotate(350deg);}
#tent:hover  #tentstar { fill: rgb(93, 110, 168);}
#tenttext { transition: all 0.5s ease; transform-origin: 50%;}

#sandals:hover #sandalsbackground {fill: rgb(243, 95, 105);}
#sandals:hover #sandalsfill {fill: rgb(164, 179, 125);}
#sandals:hover #sandalsborder {fill: rgb(78, 42, 75); transform: rotate(3deg); }
#sandals:hover #sandalstext { fill: rgb(236, 183, 103); transform: rotate(350deg);}
#sandals:hover  #sandalsstar { fill: rgb(55, 42, 58);}
#sandalstext { transition: all 0.5s ease; transform-origin: 50%;}

#island:hover #islandbackground {fill: rgb(243, 95, 105);}
#island:hover #islandfill {fill: rgb(164, 179, 125);}
#island:hover #islandborder {fill: rgb(78, 42, 75); transform: rotate(3deg); }
#island:hover #islandtext { fill: rgb(236, 183, 103); transform: rotate(350deg);}
#island:hover  #islandstar { fill: rgb(55, 42, 58);}
#islandtext { transition: all 0.5s ease; transform-origin: 50%;}

#mountain:hover #mountainbackground {fill: rgb(243, 95, 105);}
#mountain:hover #mountainfill {fill: rgb(164, 179, 125);}
#mountain:hover #mountainborder {fill: rgb(78, 42, 75); transform: rotate(3deg); }
#mountain:hover #mountaintext { fill: rgb(236, 183, 103); transform: rotate(350deg);}
#mountain:hover  #mountainstar { fill: rgb(55, 42, 58);}
#mountaintext { transition: all 0.5s ease; transform-origin: 50%;}

#ship:hover #shipbackground {fill: rgb(95, 17, 22);}
#ship:hover #shipfill {fill: rgb(70, 90, 21);}
#ship:hover #shipborder {fill: rgb(38, 105, 204); transform: rotate(3deg); }
#ship:hover #shiptext { fill: rgb(248, 103, 212); transform: rotate(350deg);}
#ship:hover  #shipstar { fill: rgb(59, 4, 71);}
#shiptext { transition: all 0.5s ease; transform-origin: 50%;}